{
  "*.{ts,tsx}": [
    "eslint --fix --no-ignore",
    "git add"
  ],
  "*.{json,js,jsx}": [
    "eslint --fix --no-ignore",
    "git add"
  ],
  "*.vue": [
    "eslint --fix --no-ignore",
    "git add"
  ]
}
